#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=centos7.vmguests

# Root password
rootpw --iscrypted $6$pXlHtBsj6.26cYnN$lU0MoOxGRmfUh9xVWE326gq057UbO0XjeB5ulJWqrL4xSPnZLa9hm/tfGLA1NC58JDREH.A7e.GTc8CJjEESO.
# System services
services --disabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc --nontp
user --groups=wheel --name=grant --password=$6$0o0sz.OlgQiB3jhp$TJjC7BAoTG/.cA90MCz8BSSTuoET30lHW74G83i/gmx2Mc1kkr5FNKUFJ/7mk0hVoqUkjxskLNp09eA1NJXfa. --iscrypted --gecos="Grant McWilliams"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
