#version=DEVEL

# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
#cdrom

# Use graphical install
graphical

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --activate --bootproto=dhcp --device=eth01 --onboot=on --noipv6
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$dU8JMieTULN95v2D$l.JiSD38wpixsejCvxzQM0g.1FHNtQYDPBIb0QcwUUqhXzZahUQY3DKswVw002EMlM/qZKmqHJ3fndcdBpIMs0

# System services
services --enabled="chronyd"

# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=localadmin --password=$6$f.rkdvxZXRZspWwl$2/0ZhU.Z/Y8.xftRSwOak1xOK3Ae0X0ur5uISAcFeKehftppZD6U4zbO/hPB5yp5Lgc5.DukFQ7tWSUbXVbSE. --iscrypted --gecos="localadmin"

# X Window System configuration information
xconfig  --startxonboot

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm

# Partition clearing information
clearpart --none --initlabel

%packages
@^gnome-desktop-environment
@base
@core
@desktop-debugging
@development
@dial-up
@directory-client
@fonts
@gnome-apps
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@system-admin-tools
@x11
chrony
kexec-tools
openssh-server
openssh-clients

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

#End User Liscence Acceptance
eula --accepted

#After Install System Request
reboot
