#version=DEVEL
ignoredisk --only-use=vda
iscsiname iqn.1994-05.com.redhat:46a93490da59
autopart
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$hg8gK.B75EU8q/U.$9rwAMdIvR5b2wgoOnS.9EJiKe1yugcH2vssiPdbVMIm/AUqYDhSl12/3vZNafCjAahQ495rvgH.DS/jZMCWhJ1
user --groups=wheel --name=localadmin --password=$6$h2JZexPtH4uxLNpQ$6VLTwHlbJk0LMiTeaz3d5SWW.s54N/6hoH4yidGnBEz2qiDKhRFK1v6Kan3ye9Dv7ehv6tt6Hw38CcJ4zOv.O0 --iscrypted --gecos="localadmin"
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc

%packages
@^server-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
